@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/global" as *;



.food-page {
  padding-bottom: 70px;
  box-sizing: border-box;
  background-image: url("../../assets/blueberry_background24.svg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: center;
}
